{% extends "judgementapp/base.html" %}

{% block content %}

<div class="card">

<div class="card-body">
    <h5 class="card-title">Result analysis</h5>
    <p class="card-text">Base and Compared prediction with groundtruth </p>
</div>

<div class="card text-left m-2">
    <form class="form-inline" action="" method="post"> {% csrf_token %}

    <div class="card-body row">
        <h6>{{query.qId}}</h6>
        <h6>{{ query.text }} </h6>
        <div class="col">
            {% if prev %}
            <a href="{% url 'query' qId=prev.qId%}" class="btn btn-outline-dark btn-sm">Prev Query</a>
            {% endif %}
        </div>
        <div class="col" align="right">
            {% if next %}
            <a href="{% url 'query' qId=next.qId%}" class="btn btn-outline-dark btn-sm">Next Query</a>
            {% endif %}
        </div>
    </div>
    </form>
</div>

<div class="card text-left m-2">
    <table class="table table-striped">
        <div class="table-responsive m-2 row">
            <thead style="table-layout:fixed">
                <tr><th># </th>
                    <th class="w-50">Result (base)</th>
                    <th>Rel.</th>
                    <th class="w-50">Result (compare)</th>
                    <th>Rel</th></tr>
            </thead>
            <tbody>
                {% for prediction_base, prediction_compare in combined %}
                <tr><td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'document' qId=query.qId docId=prediction_base.document.docId %}">
                            <b>{{ prediction_base.document.get_title }}</b>
                        </a>
                        <p>{{ prediction_base.document.get_content }}</p>
                    </td>
                    <td>{{ prediction_base.relevance }}</td>
                    <td>
                        <a href="{% url 'document' qId=query.qId docId=prediction_compare.document.docId %}">
                            <b>{{ prediction_compare.document.get_title }}</b>
                        </a>
                        <p>{{ prediction_compare.document.get_content }}</p>
                    </td>
                    <td>{{ prediction_compare.relevance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </div>
    </table>
</div>
{% endblock %}

